*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  gap: 16px;

  font-family: "Courier New", Courier, monospace;

  button {
    background: lightslategrey;
    border: 1px solid white;
    color: white;
    padding: 8px;
    border-radius: 8px;
  }

  #header {
    padding: 8px 8px;
    background: royalblue;
    color: #fff;
    .nav {
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: space-between;
      ul#boards-container {
        list-style: none;
        display: flex;
        gap: 16px;
        align-items: center;
        li.board {
          &:is(:hover, .active) {
            background-color: rgba(0, 0, 0, 0.4);
          }
          cursor: pointer;
          padding: 8px;
          border: 1px solid;
        }
        #board-controls {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  main.list-container {
    display: flex;
    gap: 16px;
    padding: 0 16px;

    .list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      border-radius: 8px;
      height: fit-content;
      background: #f3f4f6;
      box-shadow: 1px 1px 7px 0px #828fa8;
      &.dropable {
        background: rgba(0, 0, 0, 0.5);
      }

      .list-header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .list-edit-btn {
          width: 16px;
          height: 16px;
          position: absolute;
          top: -8px;
          right: 16px;
          cursor: pointer;
          color: green;
        }
        .delete-list-btn {
          width: 16px;
          height: 16px;
          color: palevioletred;
          position: absolute;
          top: -8px;
          right: -8px;
          cursor: pointer;
        }
      }

      .list-items {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .item {
          padding: 8px 16px;
        }
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      gap: 8px;
      background-color: #fefefe;

      min-width: 200px;
      .card-header {
        position: relative;
        border-bottom: 2px solid #f3f4f6;
        padding: 8px 16px;
        text-align: center;
        .delete-card-btn {
          width: 16px;
          height: 16px;
          color: palevioletred;
          position: absolute;
          right: 8px;
          &:hover {
            cursor: pointer;
          }
        }
        .edit-card-btn {
          position: absolute;
          right: 32px;
          color: green;
          cursor: pointer;
          width: 16px;
          height: 16px;
        }
      }
      .card-body {
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }

  #new-card-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: calc(100vw / 2);
    z-index: 1;
    background-color: #fefefe;
    box-shadow: 1px 1px 7px 0px #828fa8;

    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    &.hidden {
      display: none;
    }
    #new-card-form {
      display: flex;
      flex-direction: column;
      gap: 8px;
      fieldset {
        border-style: none;
        display: flex;
        gap: 8px;
        align-items: center;
      }
    }
  }

  #footer {
    border-top: 2px solid;
    padding: 16px;
  }
}