.main-container {
  min-width: 300px;
  margin: auto;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  .code-container {
    display: grid;
    grid-template-columns: repeat(6, 40px);
    grid-row: 40px;
    gap: 8px;
  }
}