*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 16px;
  padding: 16px;
  border: 1px solid beige;
  display: flex;
  flex-wrap: wrap;
  /* allows multiple rows */
  justify-content: center;
  /* centers cards horizontally */
  gap: 16px;
  border-radius: 16px;
}