/* App.css */
.product-card-wrapper {
  display: inline-block;
  margin: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card-wrapper:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 15px;
}