* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h2 {
    margin-bottom: 20px;
}


.stop-watch {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 25px;
}


.digits {
    min-width: 60px;
    display: inline-block;
    text-align: center;
}


button {
    padding: 10px 22px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: white;
}
#start{
    background-color: rgb(198, 58, 58);
}
#stop{
    background-color: rgb(36, 93, 36);
}

#stop:hover{
    cursor: pointer;
    background-color: palegreen;
    color: black;
}


button:hover {
    background-color: #555;
}
