.container{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(64deg,palevioletred,transparent);
    box-shadow: 4px 2px 6px 2px;

    button{
        background: transparent;
        border: none;
        padding: 8px;
        height: 32px;
        width: 32px;

        &:hover{
            background-color: aliceblue;
        }
    }

}